{% extends 'Tbase.html' %}

{%load txfilter%}
关于我
{%load static%}

{%block tongtitle%}
关于我
{%endblock%}

{% block tongcontent %}
<ul>
    {%for article in list%}
        {% if forloop.last %}
        <li style="color: red;">{{forloop.counter}}、{{article.title|FilterMinGan:"同学"}} 作者：{{article.author}}</li>
        {% else %}
        <li>{{forloop.counter}}、{{article.title|FilterMinGan:"同学"}} 作者：{{article.author}}</li>
        {% endif %}
    {%empty%}
        <li>暂时还没有文章</li>
    {%endfor%}
</ul>
{%endblock%}