{% extends 'Tbase.html'%}
{%block tongtitle%}
用户更新页面
{%endblock%}

{%block tongcontent%}
<h1>用户管理更新</h1><br/>
<form action="/action/" method="post">
    {%csrf_token%}
    用户编号：<input type="text" name="userID" id="userID" value="{{curuser.0}}" disabled><br/>
    用户账号：<input type="text" name="username" id="username" value="{{curuser.1}}"><br/>
    用户密码：<input type="password" name="password" id="password" value="{{curuser.2}}"><br/>
    用户姓名：<input type="text" name="truename" id="truename" value="{{curuser.3}}"><br/>
    {%if curuser.4 == "男" %}
    用户性别：<input type="radio" name="sex" value="男" checked>男 <input type="radio" name="sex" value="女">女<br/>
    {%else%}
    用户性别：<input type="radio" name="sex" value="男" >男 <input type="radio" name="sex" value="女" checked>女<br/>
    {%endif%}
    用户年龄：<input type="text" name="age" id="age" value="{{curuser.5}}"><br>
    <input type="submit" value="确认修改">
</form>
{%endblock%}